.code-hider{
    padding: 5px 10px 5px 5px;
    margin-bottom: -10px;
    border-radius: 5px 5px 0 0;
    background-color: #272822;
    display: inline-block;
}

.miniSide {
  padding: 5px;
  height: 98.4%;
  background-color: #2d9688;
}

.iframe_holder {
 text-align:center;
}

h1 {
  text-align:center;
}

.md-toolbar-tools {
  border-bottom: solid #1111112e 1px;
}

.demo-content {
  /* background-color: #3a3939; */
  background-color: #fefff3;
  color: #303030;
}

.md-button.md-default-theme.md-raised, .md-button.md-raised {
  background-color: #FF9800/*#8BC34A*/;
}
.md-button.md-default-theme.md-raised:hover, .md-button.md-raised:hover {
  background-color: #FF9800!important;
}

/* ANIMATIONS
============================================================================= */

.slide {
  position: absolute;
  left: 0;
  top: 0;
  width: calc(100% - 16px);
  height: 100%;
}
.slide.ng-enter,
.slide.ng-leave {
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}
.slide.ng-enter {
  left: 100%;
}
.slide.ng-enter-active {
  left: 0;
}
.slide.ng-leave {
  left: 0;
}
.slide.ng-leave-active {
  left: -100%;
}
