<div class="miniSide" ng-show="vm.isScreenSmall() && vm.isopensidenav === false">
  <i class="material-icons" ng-click="vm.isopensidenav = true" style="cursor:pointer;">
    menu</i>
</div>

<md-sidenav style="height: 100%!important" class="md-sidenav-left" md-component-id="left" md-is-locked-open="true" ng-show="vm.isopensidenav || vm.isScreenSmall() === false"
  md-whiteframe="4" md-colors="{background: 'primary-700'}">
  <md-toolbar 
    md-dynamic-height md-border-bottom 
    ng-show="vm.isScreenSmall()" 
    style="cursor:pointer;" 
    ng-click="vm.isopensidenav = false">
    <div class="md-toolbar-tools ">
      <i class="material-icons" style="margin:auto;" >menu</i>
    </div>
  </md-toolbar>
  <md-toolbar md-dynamic-height md-border-bottom>
    <div class="md-toolbar-tools ">
      <a href="" ng-click="vm.dropdownaboutmeopened = !vm.dropdownaboutmeopened">
        <h3>
          <i style="vertical-align: bottom" class="material-icons">{{vm.dropdownaboutmeopened ? 'keyboard_arrow_down' : 'keyboard_arrow_right'}}</i>
          About me
        </h3>
      </a>
      <span flex="" class="flex"></span>
    </div>
  </md-toolbar>
  <md-content class="md-padding" id="style-12" ng-show="vm.dropdownaboutmeopened" md-colors="{background: 'primary-700'}">
    <a style="display:block" ng-repeat="link in vm.links.aboutLinks" class="md-button md-ink-ripple" ng-class="{'md-raised' : vm.isSelected(link)}"
      ng-href="#/{{link.url}}" ng-click="vm.setSelected(link)">
      {{link.title}}
    </a>
  </md-content>
  <!-- My projects -->
  <md-toolbar md-dynamic-height md-border-bottom>
    <div class="md-toolbar-tools">
      <a href="" ng-click="vm.dropdownprojectopened = !vm.dropdownprojectopened">
        <h3>
          <i style="vertical-align: bottom" class="material-icons">{{vm.dropdownprojectopened ? 'keyboard_arrow_down' : 'keyboard_arrow_right'}}</i>
          My projects
        </h3>
      </a>
      <span flex="" class="flex"></span>
    </div>
  </md-toolbar>
  <md-content class="md-padding" id="style-12" ng-show="vm.dropdownprojectopened" md-colors="{background: 'primary-700'}">
    <a style="display:block" ng-repeat="link in vm.links.projectLinks" class="md-button md-ink-ripple" ng-class="{'md-raised' : vm.isSelected(link)}"
      ng-href="#/{{link.url}}" ng-click="vm.setSelected(link)">
      {{link.title}}
    </a>
  </md-content>


</md-sidenav>
